@using AdministrationDataBaseData.Models
@model User

@{
    ViewData["Title"] = AdministrationDataBase.Resources.Resource.RecoverPassword;
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="login-register" style="background-image:url(../assets/images/background/login-register.jpg);">
    <div class="login-box card">
        <div class="card-body">
            <form class="form-horizontal form-material" id="changePassword" action="@Url.Action("ResetPassword", "Account")" method="post">
                <h3 class="text-center m-b-20">@AdministrationDataBase.Resources.Resource.ChangePassword</h3>
                <input id="hash" name="hash" value="@Model.Hash" hidden />
                <div class="form-group ">
                    <div class="col-xs-12">
                        <input class="form-control" type="password" id="password" name="password" required placeholder="@AdministrationDataBase.Resources.Resource.Password">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <input class="form-control" type="password" id="passwordRepeat" name="passwordRepeat" required placeholder="@AdministrationDataBase.Resources.Resource.RepeatPassword">
                    </div>
                </div>
                <h4 id="pswMatch" class="text-danger d-none">@AdministrationDataBase.Resources.Resource.PasswordsDoNotMatch</h4>
                <div class="form-group text-center">
                    <div class="col-xs-12 p-b-20">
                        <button id="btnsubmit" class="btn w-100 btn-lg btn-info btn-rounded text-white" type="submit">@AdministrationDataBase.Resources.Resource.ChangePassword</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        function ComparePasswords() {
            var psw = $("#password").val();
            var pswRepeat = $("#passwordRepeat").val();

            if (psw != pswRepeat) {
                $("#pswMatch").removeClass("d-none");
                $("#passwordRepeat").addClass("border-error");
                $("#password").addClass("border-error");
                $("#passwordRepeat").removeClass("border-form");
                $("#password").removeClass("border-form");
                $("#btnsubmit").prop("disabled", true);

            } else {
                $("#pswMatch").addClass("d-none");
                $("#passwordRepeat").removeClass("border-error");
                $("#password").removeClass("border-error");
                $("#passwordRepeat").addClass("border-form");
                $("#password").addClass("border-form");
                $("#btnsubmit").prop("disabled", false);
            }
        }

        $("#passwordRepeat").on("keyup", function () {
            console.log("dfas")
                ;            ComparePasswords()
        });
        $("#password").on("keyup", function () {
            ComparePasswords()
        });
    </script>
}