@model AdministrationDataBaseData.Models.Massage

@{
    ViewData["Title"] = "Create Massage";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Subheader
{
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h4 class="text-themecolor fw-bold" style="color: #777777;">@AdministrationDataBase.Resources.Resource.NewMassage</h4>
        </div>
        <div class="col-md-7 align-self-center text-end">
            <div class="d-flex justify-content-end align-items-center">
                <ol class="breadcrumb justify-content-end">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index", "MassagesCustomer")">@AdministrationDataBase.Resources.Resource.Start</a></li>
                    <li class="breadcrumb-item active">@AdministrationDataBase.Resources.Resource.NewMassage</li>
                </ol>
            </div>
        </div>
    </div>
}

<div class="card">
    <div class="card-body d-flex justify-content-center">
        <form asp-action="CreateMassage" method="post" class="w-50">
            @Html.AntiForgeryToken()
            <input type="hidden" name="IdMassagesCustomer" value="@ViewBag.IdMassagesCustomer" />
            <div class="form-group row">
                <label for="MassageDate" class="col-md-4 col-form-label fw-bold">Date and time of the massage</label>
                <div class="col-md-8">
                    <input type="datetime-local" class="form-control" id="MassageDate" name="MassageDate" value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")" />
                </div>
            </div>
            <div class="form-group row">
                <label for="OtherObservations" class="fw-bold">Massage Observations</label>
                <div class="col-md-12">
                    <textarea class="form-control" id="OtherObservations" name="OtherObservations" rows="5"></textarea>
                    <span asp-validation-for="OtherObservations" class="text-danger"></span>
                </div>
            </div>
            <input type="hidden" name="IdMassagesCustomer" value="@ViewBag.IdMassagesCustomer" />
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Save</button>
                <a href="@Url.Action("DetailsMassagesCustomer", "MassagesCustomer", new { id = ViewBag.IdMassagesCustomer })" class="btn btn-info">
                    @AdministrationDataBase.Resources.Resource.Cancel
                </a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $("form").validate({         
                rules: {           
                    OtherObservations: {    
                        required: true
                    }
                },
                messages: { 
                    OtherObservations: {
                        required: "The Observations field is required"
                    }
                },    
                errorElement: "div",   
                errorClass: "text-danger",   
                highlight: function (element) {       
                    $(element).addClass("is-invalid");   
                },   
                unhighlight: function (element) {      
                    $(element).removeClass("is-invalid");  
                },   
                errorPlacement: function (error, element) {    
                    error.insertAfter(element);  
                }
            });
        });
    </script>
}




